<form action="/saveSticker" method="post">

  <label for="description">Description</label>
  <input type="text" id="description" name="description" value="{{stickers.description}}" />
  <div class="fieldError">{{errors.description.message}}</div>
  <br />

  <label for="dimensions">Dimensions</label>
  <input type="number" id="height" name="dimensions.height" value="{{stickers.dimensions.height}}" />
  <input type="number" id="width" name="dimensions.width" value="{{stickers.dimensions.width}}" />
  <input type="text" id="shape" name="dimensions.shape" value="{{stickers.dimensions.shape}}" />
  <div class="fieldError">{{errors.stickers.dimensions.message}}</div>
  <br />

  <label for="quantity">Quantity</label>
  <input type="number" id="quantity" name="quantity" value="{{stickers.quantity}}" />
  <div class="fieldError">{{errors.quantity.message}}</div>
  <br />

  {{#if stickers._id}}
    <input type="hidden" name="id" value="{{stickers._id}}" />
  {{/if}}

  <button class="button-primary">Save sticker</button>
</form>
