<h1>List Stickers</h1>


<table border="1px">
  <thead>
    <tr>
      <th rowspan="2">Description</th>
      <th colspan="2">Dimensions</th>
      <th rowspan="2">Shape</th>
      <th rowspan="2">Quantity</th>
    </tr>
    <tr>
      <td>Height</td>
      <td>Width</td>
    </tr>

  </thead>
  {{#stickers}}
  <tbody>
    <tr>
      <td><a href="/stickerForm?id={{_id}}">{{description}}</a></td>
      <td>{{dimensions.height}}"</td>
      <td>{{dimensions.width}}"</td>
      <td>{{dimensions.shape}}</td>
      <td>{{quantity}}</td>
      <td><a href="/deleteSticker/?id={{_id}}">Delete</a></td>
    </tr>
  </tbody>
  {{/stickers}}

</table>
