<h1>sticker Form</h1>

<form action="/saveSticker" method="post">
  <label for="description">Description</label>
  <input type="text" id="description" name="description" value="{{sticker.description}}" />
  <div class="fieldError">{{errors.description.message}}</div>
  <br />

  <label for="dimensions">Dimensions</label>
  <input type="number" id="width" name="dimensions" value="{{dimensions.width}}" placeholder="width"/>
  <input type="number" id="height" name="dimensions" value="{{dimensions.height}}" placeholder="height"/>
  <input type="text" id="shape" name="dimensions" value="{{dimensions.shape}}" placeholder="shape"/>
  <div class="fieldError">{{errors.dimensions.message}}</div>
  <br />

  <label for="quantity">Quantity</label>
  <input type="number" id="quantity" name="quantity" value="{{sticker.quantity}}" />
  <div class="fieldError">{{errors.quantity.message}}</div>
  <br />


  {{#if stickers._id}}
    <input type="hidden" name="id" value="{{stickers._id}}" />
  {{/if}}

  <button class="button-primary">Save sticker</button>
</form>
